
  .seat {
    color: white;
  }
  
  .seat {
    background-color: rgb(0, 0, 0);
  }
  
  .seats {
    
    height: 5vh;
    display: flex;
    align-items: center;
   color: blueviolet;
    flex-direction: column;
    
  }
  
  .seats > h3 {
    color: black;
    margin-top: 150px;
  }
  
  .seat:hover {
    background-color: #2d20be;
   
    border-width: 3px;
   }
   .seat--selected {
    background-color: #2d20be;
   }
   .seat--reserved {
    background-color: rgb(41, 41, 41);
   }
  
  
  .seat-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .seats-select {
    font-size: 20px;
    margin-left: 20px;
  }
  .price {
    font-size: 20px;
  }
  .totalprice {
    margin-left: 50%;
  }
  .continue {
    background-color: rgb(51, 99, 114);
    margin-top: 15px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: rgb(63, 212, 63);
  }
  